* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-container {
    max-width: 1400px;
}

h1 {
    text-align: center;
}

.header__sök {
    padding: 0.7rem;
    margin: 1rem;
    width: 25%;
    
}

.button {
    padding: 0.7rem;
    background-color: rgb(12, 36, 143);
    color: white;
    border: none;
}

.book-article {
    border: 0.5rem solid rgb(12, 36, 143);
    background-color: rgb(203, 244, 252);
    padding: 1rem;
    margin: 1rem;
    color: rgb(12, 36, 143);
}